<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Mage
 * @package    Mage_Core
 * @copyright  Copyright (c) 2004-2007 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <global>
        <install>
            <date></date>
        </install>

        <locale>
            <allow>
                <codes>
                    <en_US/>
                    <de_DE/>
                    <ja_JP/>
                    <pt_BR/>
                    <zh_CH/>
                    <zh_TW/>
                    <cs_CZ/>
                    <da_DK/>
                    <nl_NL/>
                    <fi_FI/>
                    <fr_FR/>
                    <el_GR/>
                    <iw_IL/>
                    <hu_HU/>
                    <id_ID/>
                    <it_IT/>
                    <no_NO/>
                    <pl_PL/>
                    <pt_PT/>
                    <ro_RO/>
                    <ru_RU/>
                    <sl_SL/>
                    <es_ES/>
                    <sv_SE/>
                    <th_TH/>
                    <tr_TR/>
                    <en_GB/>
                    <vi_VN/>
                </codes>
                <currencies>
                    <ADP/>  <AED/>  <AFN/>  <ALL/>  <AMD/>  <ANG/>  <AOA/>  <ARA/>  <ARS/>
                    <ATS/>  <AUD/>  <AWG/>  <AZN/>  <BAD/>  <BAM/>  <BBD/>  <BDT/>  <BEF/>
                    <BGN/>  <BHD/>  <BIF/>  <BMD/>  <BND/>  <BOB/>  <BOP/>  <BOV/>  <BRC/>
                    <BRL/>  <BRN/>  <BRR/>  <BSD/>  <BTN/>  <BUK/>  <BWP/>  <BYR/>  <BZD/>
                    <CAD/>  <CDF/>  <CHE/>  <CHF/>  <CHW/>  <CLF/>  <CLP/>  <CNY/>  <COP/>
                    <COU/>  <CRC/>  <CUP/>  <CVE/>  <CYP/>  <CZK/>  <DEM/>  <DJF/>  <DKK/>
                    <DOP/>  <DZD/>  <ECS/>  <EEK/>  <EGP/>  <EQE/>  <ERN/>  <ESP/>  <ETB/>
                    <EUR/>  <FIM/>  <FJD/>  <FKP/>  <FRF/>  <GBP/>  <GEK/>  <GHS/>  <GIP/>
                    <GMD/>  <GNF/>  <GNS/>  <GQE/>  <GRD/>  <GTQ/>  <GWE/>  <GWP/>  <GYD/>
                    <HKD/>  <HNL/>  <HRD/>  <HRK/>  <HTG/>  <HUF/>  <IDR/>  <IEP/>  <ILS/>
                    <INR/>  <IQD/>  <INR/>  <IQD/>  <IRR/>  <ISK/>  <ITL/>  <JMD/>  <JOD/>
                    <JPY/>  <KES/>  <KGS/>  <KHR/>  <KMF/>  <KPW/>  <KRW/>  <KWD/>  <KYD/>
                    <KZT/>  <LAK/>  <LBP/>  <LKR/>  <LRD/>  <LSL/>  <LSM/>  <LTL/>  <LTT/>
                    <LUF/>  <LVL/>  <LYD/>  <MAD/>  <MAF/>  <MDL/>  <MGA/>  <MGF/>  <MKD/>
                    <MLF/>  <MMK/>  <MNT/>  <MOP/>  <MRO/>  <MTL/>  <MTP/>  <MUR/>  <MVR/>
                    <MWK/>  <MXN/>  <MYR/>  <MZE/>  <MZN/>  <NAD/>  <NGN/>  <NIC/>  <NLG/>
                    <NOK/>  <NPR/>  <NZD/>  <OMR/>  <PAB/>  <PEI/>  <PES/>  <PGK/>  <PHP/>
                    <PKR/>  <PLN/>  <PTE/>  <PYG/>  <QAR/>  <RHD/>  <RON/>  <RSD/>  <RUB/>
                    <RWF/>  <SAR/>  <SBD/>  <SCR/>  <SDG/>  <SEK/>  <SGD/>  <SHP/>  <SIT/>
                    <SKK/>  <SLL/>  <SOS/>  <SRD/>  <SRG/>  <STD/>  <SVC/>  <SYP/>  <SZL/>
                    <THB/>  <TJR/>  <TJS/>  <TMM/>  <TND/>  <TOP/>  <TPE/>  <TRY/>  <TTD/>
                    <TWD/>  <TZS/>  <UAH/>  <UGX/>  <USD/>  <UYU/>  <UZS/>  <VEB/>  <VND/>
                    <VUV/>  <WST/>  <XCD/>  <YER/>  <ZAR/>  <ZMK/>  <ZRN/>  <ZRZ/>  <ZWD/>
                </currencies>
            </allow>
        </locale>

        <resources>
            <default_setup>
                <connection>
                    <host>localhost</host>
                    <username></username>
                    <password/>
                    <dbname>magento</dbname>

                    <model>mysql4</model>
                    <initStatements>SET NAMES utf8</initStatements>
                    <type>pdo_mysql</type>
                    <active>0</active>
                </connection>
            </default_setup>
            <default_write>
                <connection>
                    <host>localhost</host>
                    <username></username>
                    <password/>
                    <dbname>magento</dbname>

                    <model>mysql4</model>
                    <initStatements>SET NAMES utf8</initStatements>
                    <type>pdo_mysql</type>
                    <active>0</active>
                </connection>
            </default_write>
            <default_read>
                <connection>
                    <use>default_write</use>
                </connection>
            </default_read>

            <core_setup>
                <setup>
                    <module>Mage_Core</module>
                </setup>
                <connection>
                    <use>default_setup</use>
                </connection>
            </core_setup>
            <core_write>
                <connection>
                    <use>default_write</use>
                </connection>
            </core_write>
            <core_read>
                <connection>
                    <use>default_read</use>
                </connection>
            </core_read>
        </resources>

        <resource>

            <connection>
                <types>
                    <pdo_mysql>
                        <class>Mage_Core_Model_Resource_Type_Db_Pdo_Mysql</class>
                    </pdo_mysql>
                </types>
            </connection>
        </resource>
        <models>
            <varien>
                <class>Varien</class>
            </varien>

            <core>
                <class>Mage_Core_Model</class>
                <resourceModel>core_mysql4</resourceModel>
            </core>

            <core_mysql4>
                <class>Mage_Core_Model_Mysql4</class>
                <entities>
                    <config_data>
                        <table>core_config_data</table>
                    </config_data>
                    <website>
                        <table>core_website</table>
                    </website>
                    <store>
                        <table>core_store</table>
                    </store>
                    <resource>
                        <table>core_resource</table>
                    </resource>
                </entities>
            </core_mysql4>
        </models>
    </global>

    <default>
        <system>
            <filesystem>
                <base>{{root_dir}}</base>
                <app>{{root_dir}}/app</app>
                <code>{{app_dir}}/code</code>
                <design>{{app_dir}}/design</design>
                <locale>{{app_dir}}/locale</locale>
                <etc>{{app_dir}}/etc</etc>
                <media>{{root_dir}}/media</media>
                <upload>{{root_dir}}/media/upload</upload>
                <skin>{{root_dir}}/skin</skin>
                <var>{{var_dir}}</var>
                <cache>{{var_dir}}/cache</cache>
                <session>{{var_dir}}/session</session>
                <tmp>{{var_dir}}/tmp</tmp>
                <pear>{{var_dir}}/pear</pear>
                <export>{{var_dir}}/export</export>
            </filesystem>
        </system>

    </default>
</config>
