<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Mage
 * @package    Mage_Sales
 * @copyright  Copyright (c) 2004-2007 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Mage_Sales>
            <version>0.7.9</version>
            <depends>
                <Mage_Catalog />
                <Mage_Customer />
            </depends>
        </Mage_Sales>
    </modules>
    <global>
        <models>
            <sales>
                <class>Mage_Sales_Model</class>
                <resourceModel>sales_entity</resourceModel>
            </sales>
            <sales_entity>
                <class>Mage_Sales_Model_Entity</class>
                <entities>
                    <quote><table>sales_quote_entity</table></quote>
                    <quote_temp><table>sales_quote_temp</table></quote_temp>
                    <order><table>sales_order_entity</table></order>
                    <order_status><table>sales_order_status</table></order_status>
                    <invoice><table>sales_invoice_entity</table></invoice>
                    <shipment><table>sales_shipment_entity</table></shipment>
                    <creditmemo><table>sales_creditmemo_entity</table></creditmemo>
                </entities>
            </sales_entity>
        </models>
        <resources>
            <sales_setup>
                <setup>
                    <module>Mage_Sales</module>
                    <class>Mage_Sales_Model_Entity_Setup</class>
                </setup>
                <connection><use>core_setup</use></connection>
            </sales_setup>
            <sales_write>
                <connection><use>core_write</use></connection>
            </sales_write>
            <sales_read>
                <connection><use>core_read</use></connection>
            </sales_read>
        </resources>
        <blocks>
            <sales><class>Mage_Sales_Block</class></sales>
        </blocks>
        <sales>
            <quote>
                <totals>
                    <subtotal>
                        <class>sales/quote_address_total_subtotal</class>
                        <before>grand_total</before>
                    </subtotal>
                    <discount>
                        <class>sales/quote_address_total_discount</class>
                        <after>subtotal</after>
                        <before>grand_total,shipping</before>
                    </discount>
                    <shipping>
                        <class>sales/quote_address_total_shipping</class>
                        <after>subtotal,discount</after>
                        <before>grand_total</before>
                    </shipping>
                    <tax>
                        <class>sales/quote_address_total_tax</class>
                        <after>subtotal,shipping</after>
                        <before>grand_total</before>
                    </tax>
                    <grand_total>
                        <class>sales/quote_address_total_grand</class>
                        <after>subtotal</after>
                    </grand_total>
                </totals>
            </quote>
            <order>
                <statuses>
                    <pending><label>Pending</label></pending>
                    <processing><label>Processing</label></processing>
                    <complete><label>Complete</label></complete>
                    <closed><label>Closed</label></closed>
                    <canceled><label>Canceled</label></canceled>
                </statuses>
                <states>
                    <new>
                        <statuses>
                            <pending/>
                        </statuses>
                    </new>
                    <processing>
                        <statuses>
                            <processing/>
                        </statuses>
                    </processing>
                    <complete>
                        <statuses>
                            <complete/>
                        </statuses>
                    </complete>
                    <closed>
                        <statuses>
                            <closed/>
                        </statuses>
                    </closed>
                    <canceled>
                        <statuses>
                            <canceled/>
                        </statuses>
                    </canceled>
                </states>
            </order>
            <order_invoice>
                <totals>
                    <subtotal>
                        <class>sales/order_invoice_total_subtotal</class>
                    </subtotal>
                    <discount>
                        <class>sales/order_invoice_total_discount</class>
                    </discount>
                    <shipping>
                        <class>sales/order_invoice_total_shipping</class>
                    </shipping>
                    <tax>
                        <class>sales/order_invoice_total_tax</class>
                    </tax>
                    <grand_total>
                        <class>sales/order_invoice_total_grand</class>
                    </grand_total>
                </totals>
            </order_invoice>
            <order_shipment>
            </order_shipment>
            <order_creditmemo>
                <totals>
                    <subtotal>
                        <class>sales/order_creditmemo_total_subtotal</class>
                    </subtotal>
                    <tax>
                        <class>sales/order_creditmemo_total_tax</class>
                    </tax>
                    <discount>
                        <class>sales/order_creditmemo_total_discount</class>
                    </discount>
                    <grand_total>
                        <class>sales/order_creditmemo_total_grand</class>
                    </grand_total>
                </totals>
            </order_creditmemo>
        </sales>
    </global>

    <frontend>
        <secure_url>
            <sales>/sales/</sales>
        </secure_url>
        <routers>
            <sales>
                <use>standard</use>
                <args>
                    <module>Mage_Sales</module>
                    <frontName>sales</frontName>
                </args>
            </sales>
        </routers>
        <translate>
            <modules>
                <Mage_Sales>
                    <files>
                        <default>Mage_Sales.csv</default>
                    </files>
                </Mage_Sales>
            </modules>
        </translate>
        <layout>
            <updates>
                <sales>
                    <file>sales.xml</file>
                </sales>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <menu>
             <sales translate="title" module="sales">
                <title>Sales</title>
                <sort_order>20</sort_order>
                <depends><module>Mage_Sales</module></depends>
                <children>
                    <order translate="title" module="sales">
                        <title>Orders</title>
                        <action>adminhtml/sales_order</action>
                        <sort_order>10</sort_order>
                    </order>
                    <invoice translate="title" module="sales">
                        <title>Invoices</title>
                        <action>*/sales_invoice</action>
                        <sort_order>20</sort_order>
                    </invoice>
                    <shipment translate="title" module="sales">
                        <title>Shipments</title>
                        <action>*/sales_shipment</action>
                        <sort_order>30</sort_order>
                    </shipment>
                    <creditmemo translate="title" module="sales">
                        <title>Credit Memos</title>
                        <action>*/sales_creditmemo</action>
                        <sort_order>40</sort_order>
                    </creditmemo>
                </children>
             </sales>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <sales translate="title">
                            <title>Sales</title>
                            <children>
                                <order translate="title">
                                    <title>Orders</title>
                                    <children>
                                        <actions translate="title">
                                            <title>Actions</title>
                                            <children>
                                                <create translate="title"><title>Create</title></create>
                                                <view translate="title"><title>View</title></view>
                                                <reorder translate="title"><title>Reorder</title></reorder>
                                                <edit translate="title"><title>Edit</title></edit>
                                                <cancel translate="title"><title>Cancel</title></cancel>
                                                <authorize translate="title"><title>Authorize</title></authorize>
                                                <capture translate="title"><title>Capture</title></capture>
                                                <invoice translate="title"><title>Invoice</title></invoice>
                                                <creditmemo translate="title"><title>Creditmemo</title></creditmemo>
                                                <hold translate="title"><title>Hold</title></hold>
                                                <unhold translate="title"><title>Unhold</title></unhold>
                                                <ship translate="title"><title>Ship</title></ship>
                                                <comment translate="title"><title>Comment</title></comment>
                                                <reorder translate="title"><title>Reorder</title></reorder>
                                            </children>
                                        </actions>
                                    </children>
                                </order>
                                <invoice translate="title">
                                    <title>Invoices</title>
                                </invoice>
                                <shipment translate="title">
                                    <title>Shipments</title>
                                </shipment>
                                <creditmemo translate="title">
                                    <title>Credit Memos</title>
                                </creditmemo>
                            </children>
                        </sales>
                        <report>
                            <children>
                                <sales translate="title"><title>Sales Report</title></sales>
                            </children>
                        </report>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Mage_Sales>
                    <files>
                        <default>Mage_Sales.csv</default>
                    </files>
                </Mage_Sales>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <sales>
            <new_order>
                <email_identity>sales</email_identity>
                <email_template>2</email_template>
            </new_order>

            <email>
                <invoice_comment_identity>sales</invoice_comment_identity>
                <invoice_comment_template>4</invoice_comment_template>
                <creditmemo_comment_identity>sales</creditmemo_comment_identity>
                <creditmemo_comment_template>4</creditmemo_comment_template>
                <shipment_comment_identity>sales</shipment_comment_identity>
                <shipment_comment_template>4</shipment_comment_template>
            </email>
            
            <order_update>
                <email_identity>sales</email_identity>
                <email_template>4</email_template>
            </order_update>

            <totals_sort>
                <discount>20</discount>
                <grand_total>100</grand_total>
                <shipping>30</shipping>
                <subtotal>10</subtotal>
                <tax>40</tax>
            </totals_sort>
            <reorder>
                <allow>1</allow>
            </reorder>
            <tax>
                <apply_after_discount>0</apply_after_discount>
                <apply_on_shipping>0</apply_on_shipping>
                <shipping_rate_type>1</shipping_rate_type>
            </tax>
            <cart>
                <delete_quote_after>30</delete_quote_after>
                <redirect_to_cart>1</redirect_to_cart>
            </cart>
        </sales>
    </default>

    <crontab>
        <jobs>
            <sales_clean_quotes>
                <schedule><cron_expr>0 0 * * *</cron_expr></schedule>
                <run><model>sales/observer::cleanExpiredQuotes</model></run>
            </sales_clean_quotes>
        </jobs>
    </crontab>
</config>